<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

	<th:block th:fragment="ajaxLoadedContent">
	
	<div class="container" style="margin-bottom: 100px;margin-top: 100px;font-family: Rajdhani, sans-serif;color: #12044F;font-weight: 700;">
	
		<th:block th:if="${allGuests.size() == 0}">
			<div align="center">
				<h2 th:text="${'No guests available currently!'}"></h2>
			</div>
		</th:block>
		
		<th:block th:if="${allGuests.size() > 0}">
			<div align="center">
				<h2 th:text="${'Guests List'}"></h2>
			</div>
			
			<input type="hidden" id="recordsPerPage" th:value="${recordsPerPage}">
			<table class="table table-bordered table-hover table-stripped table-secondary" style="margin-top: 40px;" id="listingTable">
				<thead class="table-info">
					<tr>
						<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Guest Id'}">
						</th>
						<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Full Name'}">
						</th>
						<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Email'}">
						</th>
						<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Enabled'}">
						</th>
						<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Actions'}">
						</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="tempUser : ${allUsers}">
						<th:block th:each="tempGuest : ${allGuests}">
							<th:block th:if="${tempGuest.userId == tempUser.id}">
								<td class="text-center"
									style="text-align: center; vertical-align: middle;" th:text="${tempGuest.guestId}">
								</td>
								<td class="text-center"
									style="text-align: center; vertical-align: middle;" th:text="${tempUser.firstName + ' ' + tempUser.lastName}">
								</td>
								<td class="text-center"
									style="text-align: center; vertical-align: middle;" th:text="${tempUser.email}"></td>
								<th:block th:if="${tempUser.enabled == 0}">
									<td class="text-center"
										style="text-align: center; vertical-align: middle;" th:text="${'Inactive'}">
									</td>
								</th:block>
								
								<th:block th:if="${tempUser.enabled == 1}">
									<td class="text-center"
										style="text-align: center; vertical-align: middle;" th:text="${'Active'}">
									</td>
								</th:block>
								
								<td class="text-center"
									style="text-align: center; vertical-align: middle;">
									<button class="btn btn-info" th:onclick="redirectGuestDetails([[${tempGuest.guestId}]])">Details</button>
								</td>
							</th:block>
						</th:block>
					</tr>
				</tbody>
			</table>
			
			<div style="float: right">
           		<button th:onclick="prevPage()" id="btn_prev">Prev</button>
				page: <span id="page"></span>
				<button th:onclick="nextPage()" id="btn_next">Next</button>
			</div>
			
			<script th:src="@{/js/pagination.js}"></script>
			<script>
				$(document).ready(function() {
	 			 	changePage(1);
				});
			</script>
		</th:block>
		
		<div align="center" style="margin-top:60px;">
				<button class="btn btn-info" th:onclick="redirectHome()">Home Page</button>
		</div>
	</div>
	
	</th:block>