<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<th:block th:fragment="ajaxLoadedContent">

	<div class="container" 
		style="margin-top: 120px;margin-bottom: 100px;font-family: Rajdhani, sans-serif;color: #12044F;font-weight: 700;">
		<div class="text-center text-uppercase pt-3"> 
        	<h3 th:text="${'Reservation Form'}"></h3>
            <hr>
       	</div>
            
        <div class="row mt-2">
            <div  class="col-md-6 offset-md-3 sigup_form">
            	<div class="sigup_form">
					<form class="mt-3" th:method="POST" th:object="${reservation}" id="bookReservationForm">
		
						<div class="mb-3 col-md-12">
                        	<label class="form-label" th:text="${'Check In'}"></label>
                          	<input 
                          		type="date" 
                          		class="form-control" 
                          		id="checkInDateStr"
                          		name="checkInDateStr"  
                          		th:min="${todayStr}" 
                          		th:max="${maxDateStr}"                         		
                          	/> 
            				<span class="text-danger" id="checkInDateStrError" 
            					th:text="${'Please provide check-in date!'}" 
            					style="visibility: hidden">
            				</span>   
                    	</div>
                    	
                    	<div class="mb-5 col-md-12">
                        	<label class="form-label" th:text="${'Number Of Nights'}"></label>
                          	<input 
                          		type="text" 
                          		class="form-control" 
                          		id="numberOfNights"
                          		name="numberOfNights"  
                          		th:placeholder="${'Enter Number of Nights'}"
                          		th:onkeypress="return validateNumber(event)"
                          	/> 
            				<span class="text-danger" id="numberOfNightsError" 
            					th:text="${'Minimum 1 Max 30 nights!'}" 
            					style="visibility: hidden">
            				</span>    
                    	</div>						         
            
            			<div class="text-center">
            				<button type="submit" 
            					class="btn btn-info" th:text="${'Submit'}">
            				</button>
           	 			</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		var element = document.getElementById("bookReservationForm");
		element.addEventListener("submit", event => {
			event.preventDefault();
			if(validateReservation()){
				var checkInDate = document.getElementById("checkInDateStr").value;
				var numberOfNights = document.getElementById("numberOfNights").value;
				$("#ajaxLoadedContent").load("/guests/createReservation/" + checkInDate + "/" + numberOfNights);
			}
		})		
	</script>
</th:block>