<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

	<th:block th:fragment="ajaxLoadedContent">
	
		<div class="container" style="margin-bottom: 100px;margin-top: 100px;font-family: Rajdhani, sans-serif;color: #12044F;font-weight: 700;">
			<div class="container">
				<div class="text-center mt-4 mb-4">
					<h2 th:text="${'Room Details'}"></h2>
				</div>
			
				<table class="table table-bordered table-info">
					<tbody>
						<tr>
							<td class="text-center"
								style="text-align: center; vertical-align: middle;" th:text="${'Room Id'}">
							</td>
							<td class="text-center"
								style="text-align: center; vertical-align: middle;" th:text="${room.roomId}">
							</td>
						</tr>
						
						<tr>
							<td class="text-center"
								style="text-align: center; vertical-align: middle;" th:text="${'Room Number'}">
							</td>
							<td class="text-center"
								style="text-align: center; vertical-align: middle;" th:text="${room.roomNumber}">
							</td>
						</tr>
						
						<tr>
							<td class="text-center"
								style="text-align: center; vertical-align: middle;" th:text="${'Cost Per Night'}">
							</td>
							<td class="text-center"
								style="text-align: center; vertical-align: middle;">
								<span>&euro;</span>
								<span th:text="${room.price}"></span>
							</td>
						</tr>
						
						<tr>
							<td class="text-center"
								style="text-align: center; vertical-align: middle;" th:text="${'Category'}">
							</td>
							<td class="text-center"
								style="text-align: center; vertical-align: middle;" th:text="${category.name}">
							</td>
						</tr>
						
						<tr>
							<td class="text-center"
								style="text-align: center; vertical-align: middle;" th:text="${'Wc'}">
							</td>
							<td class="text-center"
								style="text-align: center; vertical-align: middle;">
								<th:block th:if="${category.wc == 0}">
									<span class="fas fa-times"></span>
								</th:block>
								
								<th:block th:if="${category.wc == 1}">
									<span class="fas fa-check-square"></span>
								</th:block>
							</td>
						</tr>
						
						<tr>
							<td class="text-center"
								style="text-align: center; vertical-align: middle;" th:text="${'Wi-fi'}">
							</td>
							<td class="text-center"
								style="text-align: center; vertical-align: middle;">
								<th:block th:if="${category.wifi == 0}">
									<span class="fas fa-times"></span>
								</th:block>
								
								<th:block th:if="${category.wifi == 1}">
									<span class="fas fa-check-square"></span>
								</th:block>
							</td>
						</tr>
						
						<tr>
							<td class="text-center"
								style="text-align: center; vertical-align: middle;" th:text="${'Tv'}"></td>
							<td class="text-center"
								style="text-align: center; vertical-align: middle;">
								<th:block th:if="${category.tv == 0}">
									<span class="fas fa-times"></span>
								</th:block>
								
								<th:block th:if="${category.tv == 1}">
									<span class="fas fa-check-square"></span>
								</th:block>
							</td>
						</tr>
						
						<tr>
							<td class="text-center"
								style="text-align: center; vertical-align: middle;" th:text="${'Bar'}">
							</td>
							<td class="text-center"
								style="text-align: center; vertical-align: middle;">
								<th:block th:if="${category.bar == 0}">
									<span class="fas fa-times"></span>
								</th:block>
								
								<th:block th:if="${category.bar == 1}">
									<span class="fas fa-check-square"></span>
								</th:block>
							</td>
						</tr>
							
						
					</tbody>
				</table>
				
				<div class="text-center mt-5">
					<button class="btn btn-info"
						th:onclick="redirectAllRooms()" 
						th:text="${'All Rooms'}">
					</button>
				</div>
			</div>
		</div>
		
	</th:block>